@media all and (max-width: 768px) {
    .home {
        width: 100%;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
        .home_r_move {
            width: 70%;
            height: 450px;           
        }
            .home_right img{
                width: 100%;
                height: auto;

                display: flex;
                align-items: center;
            }
        .home_left {
            width: 80%;

            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }
        .home_text_01 {
            font-size: 4rem;
            line-height: 4rem;
            text-align: center;

            margin: 0 auto;
        }
        .home_text_02 {
            font-size: 1.2rem;
            text-align: center;
        }
        .home_button {
            margin-top: 10px;
        }
}